html {
	width: 100vw;
	height: 100vh;
}

nav {
	background-color: black;
	border-color: black;
	padding: 1vh 1vw 1vh 0rem;
}

nav  a {
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 1vh 1vw;
}


nav:hover a:hover {
	background-color: darkorange;
}

nav: a:active {
	background-color: grey;
}


body {
	margin: 0px;
}

main {
	height: 99vh;
}