main {
	background-image: url('../img/background.jpg');
    background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	text-align: center;
	font-size: 5rem;
    color: blue
}

h2 {
    text-align: center;
	font-size: 3rem;
    color: blue
}



